# defaults
venv/
__pycache__
.ruff_cache
/*.json
/*.yaml
/params.txt
/styles.csv
/user.css
/webui-user.bat
/webui-user.sh
/data/metadata.json
/data/extensions.json
/data/cache.json
/data/themes.json
config_states
node_modules
pnpm-lock.yaml
package-lock.json
.history
cache
**/.DS_Store
tunableop_results*.csv

# all models and temp files
*.log
*.log.*
*.bak
*.ckpt
*.safetensors
*.pth
*.pt
*.bin
*.optim
*.lock
*.zip
*.rar
*.7z
*.pyc
/*.bat
/*.sh
/*.txt
/*.mp3
/*.lnk
/*.swp
!webui.bat
!webui.sh
!package.json
!requirements.txt

# all dynamic stuff
/extensions/**/*
/outputs/**/*
/embeddings/**/*
/models/**/*
/interrogate/**/*
/train/log/**/*
/textual_inversion/**/*
/detected_maps/**/*
/tmp
/log
/cert
.vscode/
.idea/
/localizations
.*/

# force included
!/data
!/models/VAE-approx
!/models/VAE-approx/model.pt
!/models/Reference
!/models/Reference/**/*
