<h2>Community and Support</h2>
<p>If you're unsure how to use a feature, best place to start is <a href="https://vladmandic.github.io/sdnext-docs/" rel="nofollow">Docs</a> and if its not there,<br>
check <a href="https://vladmandic.github.io/sdnext-docs/CHANGELOG/" rel="nofollow">ChangeLog</a> for when feature was first introduced as it will always have a short note on how to use it</p>
<p>And for any question, reach out on <a href="https://discord.gg/VjvR2tabEX" rel="nofollow">Discord</a> or open an <a href="https://github.com/vladmandic/sdnext/issues">issue</a> or <a href="https://github.com/vladmandic/sdnext/discussions">discussion</a></p>
<h3>Credits</h3>
<p>Main credit goes to <a href="https://github.com/AUTOMATIC1111/stable-diffusion-webui">Automatic1111 WebUI</a> for the original codebase</p>
<h3>Development and Contributing</h3>
<p>Please see <a href="https://vladmandic.github.io/sdnext-docs/Dev-Home/" rel="nofollow">Dev Home</a> for details on how to contribute to this project</p>