<h2>Features and Capabilities</h2>
<p>SD.Next is feature-rich with a focus on performance, flexibility, and user experience. Key features include:</p>
<ul>
<li><a href="https://vladmandic.github.io/sdnext-docs/nVidia/" rel="nofollow">Multi-platform</a>!</li>
<li>Many <a href="https://vladmandic.github.io/sdnext-docs/Model-Support/" rel="nofollow">diffusion models</a>!</li>
<li>Fully localized to ~15 languages and with support for many <a href="https://vladmandic.github.io/sdnext-docs/Themes/" rel="nofollow">UI themes</a>!</li>
<li><a href="#screenshot-desktop-interface">Desktop</a> and <a href="#screenshot-mobile-interface">Mobile</a> support!</li>
<li>Platform specific auto-detection and tuning performed on install</li>
<li>Built in installer with automatic updates and dependency management</li>
</ul>
<h3>Unique features</h3>
<p>SD.Next includes many features not found in other WebUIs, such as:</p>
<ul>
<li><strong>SDNQ</strong>: State-of-the-Art quantization engine<br>
Use pre-quantized or run with quantization on-the-fly for up to 4x VRAM reduction with no or minimal quality and performance impact</li>
<li><strong>Balanced Offload</strong>: Dynamically balance CPU and GPU memory to run larger models on limited hardware</li>
<li><strong>Captioning</strong> with 150+ <strong>OpenCLiP</strong> models, <strong>Tagger</strong> with <strong>WaifuDiffusion</strong> and <strong>DeepDanbooru</strong> models, and 25+ built-in <strong>VLMs</strong></li>
<li><strong>Image Processing</strong> with full image correction color-grading suite of tools</li>
</ul>
<br>