<h2>Screenshots</h2>
<div align="right">Desktop interface</div>
<div align="center">
<a target="_blank" rel="noopener noreferrer" href="https://github.com/vladmandic/sdnext/raw/dev/ui/assets/screenshot-robot.jpg"><img src="https://github.com/vladmandic/sdnext/raw/dev/ui/assets/screenshot-robot.jpg" alt="SD.Next: AI art generator desktop interface screenshot" width="90%" style="max-width: 100%;"></a>
</div>
<div align="right">Mobile interface</div>
<div align="center">
<a target="_blank" rel="noopener noreferrer" href="https://github.com/user-attachments/assets/ced9fe0c-d2c2-46d1-94a7-8f9f2307ce38"><img src="https://github.com/user-attachments/assets/ced9fe0c-d2c2-46d1-94a7-8f9f2307ce38" alt="SD.Next: AI art generator mobile interface screenshot" width="35%" style="max-width: 100%;"></a>
</div>
<br>
<br>