<h2>Supported Platforms and Hardware</h2>
<ul>
<li><em>nVidia</em> GPUs using <strong>CUDA</strong> libraries on both <em>Windows and Linux</em></li>
<li><em>AMD</em> GPUs using <strong>ROCm</strong> libraries on both <em>Linux and Windows</em></li>
<li><em>AMD</em> GPUs on Windows using <strong>ZLUDA</strong> libraries</li>
<li><em>Intel Arc</em> GPUs using <strong>OneAPI</strong> with <em>IPEX XPU</em> libraries on both <em>Windows and Linux</em></li>
<li>Any <em>CPU/GPU</em> or device compatible with <strong>OpenVINO</strong> libraries on both <em>Windows and Linux</em></li>
<li>Any GPU compatible with <em>DirectX</em> on <em>Windows</em> using <strong>DirectML</strong> libraries</li>
<li><em>Apple M1/M2</em> on <em>OSX</em> using built-in support in Torch with <strong>MPS</strong> optimizations</li>
<li><em>ONNX/Olive</em></li>
</ul>
<p>Plus <strong>Docker</strong> container recipes for: <a href="https://vladmandic.github.io/sdnext-docs/Docker/" rel="nofollow">CUDA, ROCm, Intel IPEX and OpenVINO</a></p>