<h2>Supported Workflows</h2>
<ul>
<li>Generate with <em>Text-to-Image</em>, <em>Image-to-Image</em>, <em>Text-to-Video</em>, <em>Image-to-Video</em>, etc.</li>
<li>Edit with <em>Detailer</em>, <strong>HiRes/Refine</strong>, <em>Image-Edit</em>, <em>Inpainting</em>, <em>Outpainting</em>, etc.</li>
<li>Enhance guidance with <em>LoRA</em>, <em>ControlNet</em>, <em>IPAdapters</em>, <em>Prompt Enhance</em>, etc.</li>
<li>Process with <em>Caption</em>, <em>Tag</em>, <em>Upscale</em>, <em>Interpolate</em>, <em>Colorize</em>, <em>Filter</em>, etc.</li>
<li>and many more with support for custom scripts and extensions</li>
</ul>