<h2>Table of contents</h2>
<ul>
<li><a href="https://vladmandic.github.io/sdnext-docs/" rel="nofollow">Documentation</a></li>
<li><a href="#features-and-capabilities">Features &amp; Capabilities</a></li>
<li><a href="#supported-ai-models">Supported AI Models</a></li>
<li><a href="#supported-platforms-and-hardware">Supported Platforms &amp; Hardware</a></li>
<li><a href="#getting-started">Getting started</a></li>
</ul>
<h3>Screenshot: Desktop interface</h3>
<div align="center">
<a target="_blank" rel="noopener noreferrer" href="https://github.com/vladmandic/sdnext/raw/dev/ui/assets/screenshot-robot.jpg"><img src="https://github.com/vladmandic/sdnext/raw/dev/ui/assets/screenshot-robot.jpg" alt="SD.Next: AI art generator desktop interface screenshot" width="90%" style="max-width: 100%;"></a>
</div>
<h3>Screenshot: Mobile interface</h3>
<div align="center">
<a target="_blank" rel="noopener noreferrer" href="https://github.com/user-attachments/assets/ced9fe0c-d2c2-46d1-94a7-8f9f2307ce38"><img src="https://github.com/user-attachments/assets/ced9fe0c-d2c2-46d1-94a7-8f9f2307ce38" alt="SD.Next: AI art generator mobile interface screenshot" width="35%" style="max-width: 100%;"></a>
</div>
<br>