<h2>Table of contents</h2>
<ul>
<li><a href="https://vladmandic.github.io/sdnext-docs/" rel="nofollow">Documentation</a></li>
<li><a href="#features-and-capabilities">Features &amp; Capabilities</a></li>
<li><a href="#screenshots">Screenshots</a></li>
<li><a href="#supported-workflows">Supported Workflows</a></li>
<li><a href="#supported-ai-models">Supported AI Models</a></li>
<li><a href="#supported-platforms-and-hardware">Supported Platforms &amp; Hardware</a></li>
<li><a href="#getting-started">Getting started</a></li>
<li><a href="#community-and-support">Community and Support</a></li>
<li><a href="#credits">Credits</a></li>
<li><a href="#development-and-contributing">Development and Contributing</a></li>
</ul>
<h3>Why SD.Next?</h3>
<p>SD.Next is feature-rich open-source AI art generation platform with a focus on performance, flexibility, and user experience.</p>
<p>In addition to supporting all popular <a href="#supported-workflows">workflows</a>, a wide range of <a href="#supported-platforms-and-hardware">platforms</a> and <a href="#supported-ai-models">models</a>, SD.Next includes many features not found in other WebUIs, such as:</p>
<ul>
<li>Support for many <a href="https://vladmandic.github.io/sdnext-docs/Model-Support/" rel="nofollow">Diffusion models</a>!</li>
<li><strong>Automatic model download</strong>: simply select a model from the list of reference models and it will be downloaded and ready to use<br>
Or download and add your own models and they will be automatically detected and available in the UI</li>
<li><strong>SDNQ</strong>: State-of-the-Art model quantization engine<br>
Use pre-quantized or run with quantization on-the-fly for up to 4x VRAM reduction with no or minimal quality and performance impact</li>
<li><strong>Balanced Offload</strong>: Dynamically balance CPU and GPU memory to run larger models on limited hardware</li>
<li><strong>Caption and Enhance</strong> with 25+ built-in <strong>LLM</strong> and <strong>VLM</strong> models, <strong>OpenCLiP</strong> models, <strong>Tagger</strong> with <strong>WaifuDiffusion</strong> and <strong>DeepDanbooru</strong> models</li>
<li><strong>Image Processing</strong> with full image correction color-grading suite of tools</li>
<li><a href="https://vladmandic.github.io/sdnext-docs/nVidia/" rel="nofollow">Multi-platform</a>!<br>
Platform specific auto-detection and tuning performed on install</li>
<li>Fully <strong>localized</strong> to ~15 languages and with support for many <a href="https://vladmandic.github.io/sdnext-docs/Themes/" rel="nofollow">UI themes</a>!</li>
<li><a href="#screenshot-desktop-interface">Desktop</a> and <a href="#screenshot-mobile-interface">Mobile</a> support!</li>
<li>Built in <strong>installer</strong> with automatic updates and dependency management</li>
</ul>